@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&family=Noto+Nastaliq+Urdu:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --body-font: "Noto Nastaliq Urdu", "Noto Sans Arabic", system-ui,
    -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  
}

body{
    background-color: #e6eaf2;
}